html {
  max-width: 1440px;
  margin: 0 auto;
}


header {
  margin-left: 7%;
  margin-right: 7%;
  height: 118px;
  width:86%;
}

.head {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: 50px;
}

main {
  width:86%;
  margin-left: 7%;
  margin-right: 7%;
}

footer {
  height: 209px;
  background-color: black;
  margin-top: 50px;
}

footer p {
 color:white;
 font-size:24px;
}
.logofin {
 margin-top:50px;
}


.App {
  text-align: center;
}
//acceuil//
.Logo {
  margin-top: 30px;
  }

.link {
  padding: 15px;
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.link .accueil:hover {
  text-decoration: underline;
}
.link .apropos:hover {
  text-decoration: underline;
}
.link .accueil:active, .link .accueil:focus {
  text-decoration: underline;}

.link .apropos:active, .link .apropos:focus {
  text-decoration: underline;}

.card-titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  background-color: black;
  border-radius:25px;
  overflow: hidden;
  margin-top: 20px;
}

.card-titre img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 40%;
}

.card-titre h1 {
  z-index: 10;
  font-size: 48px;
  color: white;
  padding-bottom: 20px;
  position: absolute;
}

.cardlogements {
  margin-top: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;  
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  padding: 10px 10px 10px 30px;

}

.cardindividuel {
  width: 340px; 
  height: 340px;
  //background: #FF6060;
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 10px 18px 10px 18px;
}

.cardindividuel img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.cardindividuel p {
width: 250px;
z-index: 1;
font-size: 18px;
color: rgba(255, 255, 255, 0.886);
padding: 260px 150px 20px 20px;
position: absolute;
text-align: left;
}


//A Propos//
.NavApropos {
margin-left: 7%;
}

//Logement//
.pagelogement img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  z-index: 1;
}

.slick-prev img,
.slick-next img {
  position: absolute;
  transform: translateY(-50%);
}

.slick-prev img {
  left: 50px;
  height: 80px;
  width: 47px;
}

.slick-next img {
  height: 80px;
  right: 50px; 
  width: 47px;
}

.basdepage {
  display: flex;
  justify-content: space-between;
}
.titreetlieu {
width: 60%;
text-align: start;
& h1 {
color: #FF6060;
font-size: 36px;}
& p {
font-weight: bold;
font-size: 18px;}
& .tags {
  font-weight: 700;
  background-color: #FF6060;
  width: 115px;
  padding: 11px;
  font-size: 14px;
  color:white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
margin-right: 20px;}
& .btntags {
  display: flex;
}
}

.nom {
margin-top: 20px; 
& p {
  width: 93px;
  margin:10px 0px 10px 10px;
  font-size: 18px;
  color: #FF6060;
  text-align: end;
}
& img {
  margin:10px 0px 10px 10px;
  height: 64px;
  width: 64px;
  border-radius: 100px;
}}

.rating {
  display: flex;
}

.nom > div {
  display: flex;
  justify-content:center;
  align-items: center;
}


.star {
  color: #E3E3E3;
  font-size: 36px;
  margin: 0px 10px 0px 10px;
}
.starfilled {
color: #FF6060;
font-size: 36px;
margin: 0px 10px 0px 10px;
}

.btnlogements {
width: 100%;
display: flex;
justify-content: space-between;
}

.btnlogements img {
  height: 25px;
}
@media (max-width: 1100px) {

  .cardlogements {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 10px 10px 60px;
  }
}

  @media (max-width: 899px) {

    .cardlogements {
      grid-template-columns: repeat(1, 1fr);
      //padding: 10px 10px 10px 0px;
    }
.card-titre {
 text-align: start;
 justify-content: start;
}
.card-titre h1 {
  padding-left: 10px;
}
}


@media (max-width: 767px) 
{

  
  .head {
    display: flex;
    justify-content: space-between;
  }

  
  footer {
    margin-top: 10px;
  }

  footer p {
    position: absolute;
    left: 33%;
    color:white;
    font-size:12px;
    width: 122px;
   }
   .logofin {
    margin-top: 60px;
    width: 122px;
    height: 40px;
   }

  nav {
    margin-top: 40px;
  }

  .Logo {
    height: 47px;
    width: 145px;
    }
  
  .link{
    font-size: 12px;
    padding: 10px;
  }

  .card-titre  {
    height: 111px;
  }
  .card-titre h1 {
    padding-top: 10px;
    width: 322.5px;
    font-size: 24px;
    }

  .cardlogements {
      margin-top: 0px;
      padding: 10px 0px 10px 0px;
      background-color: white;

    }

  .cardindividuel {
      width: 322.5px; 
      height: 255px;
      background: #FF6060;
      border-radius: 10px;
      display: flex;
      align-self: center;
      justify-self: center;
      margin: 10px 0px 10px 0px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0) 20.5%, rgba(0, 0, 0, 0.5) 50%);
    }

  .cardindividuel p {
      width: 250px;
      z-index: 10;
      font-size: 18px;
      color: white;
      padding: 180px 50px 20px 20px;
      position: absolute;
      text-align: left;
    }
//A Propos//
.NavApropos {
  margin-left: 0%;
  }

//Logement//
.pagelogement img {
  height: 255px;
}

.slick-prev img {
  left: 30px;
  height: 20px;
  width: 12px;
}

.slick-next img {
  height: 20px;
  right: 30px; 
  width: 12px;
}

.basdepage {
  display: block;
  //justify-content: space-between;
}
.titreetlieu {
width: 80%;
& h1 {
font-size: 18px;}
& p {
font-weight: 500;
font-size: 14px;}
& .tags {
  width: 84px;
  padding: 4px;
  font-size: 10px;
  margin-top: 0px;
margin-right: 10px;}
}

.nom {
margin-top: 0px; 
display: flex;
flex-direction: row-reverse;
& p {
  width: 60px;
  margin:0px;
  font-size: 12px;
}
& img {
  height: 32px;
  width: 32px;
}}

.rating {
display: flex;
position: relative;
right: 50px;
}



.star {
  color: #E3E3E3;
  font-size: 18px;
  margin: 0px 5px 0px 5px;
}
.starfilled {
color: #FF6060;
font-size: 18px;
margin: 0px 5px 0px 5px;
}


.btnlogements {
width: 100%;
display: block;
}

.btnlogements img {
  height: 15px;
}

}