html {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  margin-left: 7%;
  margin-right: 7%;
  height: 118px;
}

.head {
  display: flex;
  justify-content: space-between;
}
body {
  margin-left: 7%;
  margin-right: 7%;
}

footer {
  height: 209px;
  width: 1440px;
  background-color: black;
  margin-top: 100px;
  margin-left: -9%;
}


.App {
  text-align: center;
}
//acceuil//
.Logo {
  margin-top: 30px;
  }

.card-titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  background-color: black;
  border-radius:25px;
  overflow: hidden;
  margin-top: 20px;
}

.card-titre img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 40%;
}

.card-titre h1 {
  font-size: 48px;
  color: white;
  padding-bottom: 20px;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
